

.thanks__content {
  width:100%;
}

.thanks__heading h2{
  margin: 200px 0 50px 0 ;

  font-size: 25px;
  text-align: center;
}

.thanks__link {
  display: block;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  width:10%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: rgba(135, 117, 101, 1);
  color: white;
  text-decoration: none;
}